* {
    font-family: "Montserrat", "Roboto", sans-serif;
    list-style-type: none;
    background-color: #1b1b1b;
    color: #f5f5f5;
}

a {
    text-decoration: none;
    color: #f5f5f5;
}

header {
    display: flex;
    background-color: #3c3a3b;
    justify-content: flex-start;
    align-items: center;
    color: #f5f5f5;
    padding: 0px;
    margin: 0px;
}

.header-text {
    display: flex 1;
    background-color: #3c3a3b;

}

h1, h2 {
    background-color: #3c3a3b;
}

h2 {
    font-weight: 200;
}

.banner {
    display: flex;
    max-width: 20%;
}

ul {
    display: flex;
    background-color: #1d1d1d;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: x-large;
    background-color: #1d1d1d;
    color: #f5f5f5;
}

img {
    display: flex 1;
    border: #474747 4px;
    border-radius: 20px;
    margin: 16px;
    padding: 0px;
    justify-content: space-evenly;
    max-width: 300px;
}

.paras {
    display: flex;
    flex-direction: column;
    background-color: #1d1d1d;
    justify-content: space-evenly;
}

.paras > p {
    display: flex 1;
    font-weight: 200;
    font-size: 18px;
    background-color: #1d1d1d;
    max-width: fit-content;
}

.center {
    display: flex;
    background-color: #1d1d1d;
}

footer {
    display: flex;
    background-color: #3c3a3b;
    justify-content: flex-end;
    gap: 10px;
    margin: 0%;
    padding: 5px;
}

a {
    background-color: #3c3a3b;
}